@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;

    --chart-1: 271.5 81.3% 55.9%;
    --chart-2: 270 95% 75%;
    --chart-3: 270 91% 65%;
    --chart-4: 269 97% 85%;
    --chart-5: 269 100% 92%;

    --gradient-1: #f23f00;
    --gradient-2: #f28809;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 225, 83%, 68%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --chart-1: 271.5 81.3% 55.9%;
    --chart-2: 270 95% 75%;
    --chart-3: 270 91% 65%;
    --chart-4: 269 97% 85%;
    --chart-5: 269 100% 92%;

    --gradient-1: #f23f00;
    --gradient-2: #f28809;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/* Animation delays using CSS variables */
.animate-fade-in-right {
  animation: fade-in-right 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-1 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 400ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-2 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 500ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-3 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 600ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-4 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 700ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-5 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 800ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-6 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 1200ms forwards;
  opacity: 0;
}

.animate-fade-in-left {
  animation: fade-in-left 0.5s cubic-bezier(0.16, 1, 0.3, 1) 1600ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-7 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 2000ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-8 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 2100ms forwards;
  opacity: 0;
}

.animate-fade-in-up-delay-9 {
  animation: fade-in-up 0.5s cubic-bezier(0.16, 1, 0.3, 1) 2200ms forwards;
  opacity: 0;
}

/* Define keyframes for animations */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Special animation for header */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-down-header {
  animation: fade-down 0.5s cubic-bezier(0.16, 1, 0.3, 1) 2600ms forwards;
  opacity: 0;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .text-shadow {
    text-shadow: 0 0 40px hsla(0, 0%, 0%, 0.4);
  }

  .text-gradient {
    background: linear-gradient(
      45deg,
      var(--gradient-1) 0%,
      var(--gradient-2) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-gradient {
    background: linear-gradient(
      45deg,
      var(--gradient-1) 0%,
      var(--gradient-2) 100%
    );
  }

  .bg-gradient-reverse {
    background: linear-gradient(
      45deg,
      var(--gradient-2) 0%,
      var(--gradient-1) 100%
    );
  }

  .bite-tr {
    --r: 20px; /* radius */
    --s: 40px; /* size of the inner curve */
    --x: 25px; /* horizontal offset (no percentange) */
    --y: 5px; /* vertical offset (no percentange) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
          72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      calc(100% - var(--_d) - var(--x)) 0 var(--_m),
      100% calc(var(--_d) + var(--y)) var(--_m),
      radial-gradient(var(--s) at 100% 0, #0000 99%, #000 calc(100% + 1px))
        calc(-1 * var(--r) - var(--x)) calc(var(--r) + var(--y)),
      var(--_g) calc(-1 * var(--_d) - var(--x)) 0,
      var(--_g) 0 calc(var(--_d) + var(--y));
    mask-repeat: no-repeat;
  }
  .bite-tl {
    --r: 20px; /* radius */
    --s: 40px; /* size of the inner curve */
    --x: 25px; /* horizontal offset (no percentange) */
    --y: 5px; /* vertical offset (no percentange) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
          72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      calc(var(--s) + var(--r)) 0 var(--_m),
      0 calc(var(--s) + var(--r)) var(--_m),
      radial-gradient(var(--s) at 0 0, #0000 99%, #000 calc(100% + 1px))
        var(--r) var(--r) no-repeat,
      conic-gradient(
        at calc(var(--s) + 2 * var(--r)) calc(var(--s) + 2 * var(--r)),
        #000 75%,
        #0000 0
      );
    mask-repeat: no-repeat;
  }
  .bite-br {
    --r: 20px; /* radius */
    --s: 40px; /* size of the inner curve */
    --x: 25px; /* horizontal offset (no percentange) */
    --y: 5px; /* vertical offset (no percentange) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
          72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      right 0 bottom calc(var(--s) + var(--r)) var(--_m),
      right calc(var(--s) + var(--r)) bottom 0 var(--_m),
      radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
        calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
      conic-gradient(
        from 90deg at calc(100% - var(--s) - 2 * var(--r))
          calc(100% - var(--s) - 2 * var(--r)),
        #0000 25%,
        #000 0
      );
    mask-repeat: no-repeat;
  }
  .bite-bl {
    --r: 20px; /* radius */
    --s: 40px; /* size of the inner curve */
    --x: 25px; /* horizontal offset (no percentange) */
    --y: 5px; /* vertical offset (no percentange) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
          72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      calc(var(--s) + var(--r)) bottom var(--_m),
      bottom calc(var(--s) + var(--r)) left 0 var(--_m),
      radial-gradient(var(--s) at 0 100%, #0000 99%, #000 calc(100% + 1px))
        var(--r) calc(-1 * var(--r)) no-repeat,
      conic-gradient(
        from 180deg at calc(var(--s) + 2 * var(--r))
          calc(100% - var(--s) - 2 * var(--r)),
        #0000 25%,
        #000 0
      );
    mask-repeat: no-repeat;
  }
  .bite-br-long {
    --r: 20px; /* radius */
    --s: 40px; /* size of the inner curve */
    --x: 25px; /* horizontal offset (no percentange) */
    --y: 5px; /* vertical offset (no percentange) */

    border-radius: var(--r);
    --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000
          72%);
    --_g: conic-gradient(at calc(100% - var(--r)) var(--r), #0000 25%, #000 0);
    --_d: (var(--s) + var(--r));
    mask:
      right 0 bottom calc(var(--s) + var(--r)) var(--_m),
      right calc(var(--s) + var(--r)) bottom 0 var(--_m),
      radial-gradient(var(--s) at 100% 100%, #0000 99%, #000 calc(100% + 1px))
        calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
      conic-gradient(
        from 90deg at calc(100% - var(--s) - 2 * var(--r))
          calc(100% - var(--s) - 2 * var(--r)),
        #0000 25%,
        #000 0
      );
    mask-repeat: no-repeat;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
